/* Place any @font-face definitions here */

/* Ubuntu Font-Family */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("https://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.woff2")
    format("woff2");
}
