/* Place any @font-face definitions here */

@font-face {
  font-family: "MuseoSans";
  src: url("../src/font/MuseoSans.woff2") format("woff2");
}
@font-face {
  font-family: "MuseoSansBolder";
  src: url("../src/font/MuseoSansBolder.woff2") format("woff2");
}
