/* Place any @font-face definitions here */

@font-face {
  font-family: "Gill Sans";
  font-style: light;
  font-weight: 100;
  font-display: swap;
  src: url("../src/font/Gill Sans-light.woff2") format("woff2");
}

@font-face {
  font-family: "Gill Sans";
  font-style: light;
  font-weight: 200;
  font-display: swap;
  src: url("../src/font/Gill Sans-light.woff2") format("woff2");
}

@font-face {
  font-family: "Gill Sans";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("../src/font/Gill Sans-light.woff2") format("woff2");
}

@font-face {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../src/font/Gill Sans-light.woff2") format("woff2");
}

@font-face {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../src/font/Gill Sans.woff2") format("woff2");
}

@font-face {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../src/font/Gill Sans-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../src/font/Gill Sans-bold.woff2") format("woff2");
}
