.xxllnc-theme,
.xxllnc-theme ::backdrop {
  /* xxllnc Tokens */

  /* Sizes */
  --xxllnc-size-4xs: 1px;
  --xxllnc-size-3xs: 2px;
  --xxllnc-size-2xs: 4px;
  --xxllnc-size-xs: 8px;
  --xxllnc-size-sm: 14px;
  --xxllnc-size-md: 18px;
  --xxllnc-size-lg: 24px;
  --xxllnc-size-xl: 32px;
  --xxllnc-size-2xl: 48px;
  --xxllnc-size-3xl: 72px;
  --xxllnc-size-4xl: 96px;

  /* Font sizes */
  --xxllnc-font-size-4xs: 5px;
  --xxllnc-font-size-3xs: 8px;
  --xxllnc-font-size-2xs: 10px;
  --xxllnc-font-size-xs: 12px;
  --xxllnc-font-size-sm: 14px;
  --xxllnc-font-size-md: 16px;
  --xxllnc-font-size-lg: 20px;
  --xxllnc-font-size-xl: 24px;
  --xxllnc-font-size-2xl: 32px;
  --xxllnc-font-size-3xl: 48px;
  --xxllnc-font-size-4xl: 58px;

  /* Font weights */
  --xxllnc-typography-font-weight-light: 100;
  --xxllnc-typography-font-weight-normal: 400;
  --xxllnc-typography-font-weight-bold: 700;

  /* Letter Spacing */
  --xxllnc-letter-spacing-normal: normal;

  /* Colors */
  --xxllnc-color-primary: #000000ad;
  --xxllnc-color-primary-hover: #00000080;

  --xxllnc-color-error: #dc3545;
  --xxllnc-color-alert-error: #721c24;
  --xxllnc-color-alert-error-background: #f8d7da;

  --xxllnc-color-warning: #ffc107;
  --xxllnc-color-alert-warning: #856404;
  --xxllnc-color-alert-warning-background: #333338;

  --xxllnc-color-success: #28a745;
  --xxllnc-color-alert-success: #155724;
  --xxllnc-color-alert-success-background: #d4edda;

  --xxllnc-color-info: var(--xxllnc-color-primary);
  --xxllnc-color-alert-info: var(--xxllnc-color-black-16);
  --xxllnc-color-alert-info-background: var(--xxllnc-color-grey-92);

  --xxllnc-color-grey-92: #eaeaea;
  --xxllnc-color-grey-90: #e5e5e5;
  --xxllnc-color-grey-90-hover: #e5e5e5cc;
  --xxllnc-color-grey-43: #6d6d6d;

  --xxllnc-color-lightgrey: #f5f5f5;

  --xxllnc-color-white-100: #ffffff;
  --xxllnc-color-white-95: #f1f1f1;
  --xxllnc-color-white-100-0t: #ffffff00;

  --xxllnc-color-black-16: #28282c;
  --xxllnc-color-black-17: #2b2b2b;
  --xxllnc-color-black-17-hover: #2b2b2bcc;
  --xxllnc-color-black-21: #333338;
  --xxllnc-color-black-0-22t: #00000038;

  /* Typography */
  --xxllnc-typography-sans-serif-font-family: neue-haas-grotesk-text, sans-serif;
  --xxllnc-typography-header-font-family: neue-haas-grotesk-text, sans-serif;
  --xxllnc-typography-monospace-font-family: Monospace, "Lucida Console";
  --xxllnc-typography-inter-font-family: "Inter", sans-serif;

  /*
   *
   * xxllnc COMPONENT OVERRIDES
   *
   */

  /* Container */
  --xxllnc-container-padding-inline: var(--xxllnc-size-xl);

  /*
   *
   * UTRECHT COMPONENTS & DEFAULTS
   *
   */

  /* Sizes */

  --utrecht-space-block-3xs: var(--xxllnc-size-3xs);
  --utrecht-space-block-2xs: var(--xxllnc-size-2xs);
  --utrecht-space-block-xs: var(--xxllnc-size-xs);
  --utrecht-space-block-sm: var(--xxllnc-size-sm);
  --utrecht-space-block-md: var(--xxllnc-size-md);
  --utrecht-space-block-lg: var(--xxllnc-size-lg);
  --utrecht-space-block-xl: var(--xxllnc-size-xl);
  --utrecht-space-block-2xl: var(--xxllnc-size-2xl);
  --utrecht-space-block-3xl: var(--xxllnc-size-3xl);

  --utrecht-space-inline-3xs: var(--xxllnc-size-3xs);
  --utrecht-space-inline-2xs: var(--xxllnc-size-2xs);
  --utrecht-space-inline-xs: var(--xxllnc-size-xs);
  --utrecht-space-inline-sm: var(--xxllnc-size-sm);
  --utrecht-space-inline-md: var(--xxllnc-size-md);
  --utrecht-space-inline-lg: var(--xxllnc-size-lg);
  --utrecht-space-inline-xl: var(--xxllnc-size-xl);
  --utrecht-space-inline-2xl: var(--xxllnc-size-2xl);
  --utrecht-space-inline-3xl: var(--xxllnc-size-3xl);

  --utrecht-typography-scale-2xs: var(--xxllnc-font-size-2xs);
  --utrecht-typography-scale-xs: var(--xxllnc-font-size-xs);
  --utrecht-typography-scale-sm: var(--xxllnc-font-size-sm);
  --utrecht-typography-scale-md: var(--xxllnc-font-size-md);
  --utrecht-typography-scale-lg: var(--xxllnc-font-size-lg);
  --utrecht-typography-scale-xl: var(--xxllnc-font-size-xl);
  --utrecht-typography-scale-2xl: var(--xxllnc-font-size-2xl);
  --utrecht-typography-scale-3xl: var(--xxllnc-font-size-3xl);
  --utrecht-typography-scale-4xl: var(--xxllnc-font-size-4xl);

  /* Document */
  --utrecht-document-font-family: var(
    --xxllnc-typography-sans-serif-font-family
  );
  --utrecht-document-font-size: var(--xxllnc-font-size-md);
  --utrecht-document-color: var(--xxllnc-color-black-16);
  --utrecht-document-background-color: var(--xxllnc-color-white-100);
  --utrecht-space-around: 1;

  /* Typography */
  --utrecht-typography-sans-serif-font-family: var(
    --xxllnc-typography-sans-serif-font-family
  );

  /* Header */
  --utrecht-page-header-color: var(--xxllnc-color-black-16);
  --utrecht-page-header-background-color: var(--xxllnc-color-grey-92);
  --utrecht-page-header-padding-block-start: var(--xxllnc-size-sm);
  --utrecht-page-header-padding-block-end: var(--xxllnc-size-sm);

  /* Page */
  --utrecht-page-padding-inline-start: var(--xxllnc-size-lg);
  --utrecht-page-padding-inline-end: var(--xxllnc-size-lg);
  --utrecht-page-max-inline-size: 1140px;
  --utrecht-page-content-background-color: var(--xxllnc-color-black-16);

  /* Headings */
  --utrecht-heading-1-font-family: var(--xxllnc-typography-header-font-family);
  --utrecht-heading-1-font-size: var(--xxllnc-font-size-3xl);
  --utrecht-heading-1-font-weight: var(--xxllnc-typography-font-weight-normal);
  --utrecht-heading-1-letter-spacing: var(--xxllnc-letter-spacing-normal);
  --utrecht-heading-1-margin-block-start: var(--xxllnc-size-2xl);
  --utrecht-heading-1-margin-block-end: var(--xxllnc-size-md);

  --utrecht-heading-2-font-family: var(--xxllnc-typography-header-font-family);
  --utrecht-heading-2-font-weight: var(--xxllnc-typography-font-weight-normal);
  --utrecht-heading-2-font-size: var(--xxllnc-font-size-2xl);
  --utrecht-heading-2-letter-spacing: var(--xxllnc-letter-spacing-normal);
  --utrecht-heading-2-margin-block-start: var(--xxllnc-size-2xl);
  --utrecht-heading-2-margin-block-end: var(--xxllnc-size-md);

  --utrecht-heading-3-font-family: var(--xxllnc-typography-header-font-family);
  --utrecht-heading-3-font-weight: var(--xxllnc-typography-font-weight-normal);
  --utrecht-heading-3-font-size: var(--xxllnc-font-size-xl);
  --utrecht-heading-3-letter-spacing: var(--xxllnc-letter-spacing-normal);
  --utrecht-heading-3-margin-block-start: var(--xxllnc-size-xl);
  --utrecht-heading-3-margin-block-end: var(--xxllnc-size-md);

  --utrecht-heading-4-font-family: var(--xxllnc-typography-header-font-family);
  --utrecht-heading-4-font-size: var(--xxllnc-font-size-lg);
  --utrecht-heading-4-font-weight: var(--xxllnc-typography-font-weight-normal);
  --utrecht-heading-4-letter-spacing: var(--xxllnc-letter-spacing-normal);
  --utrecht-heading-4-margin-block-start: var(--xxllnc-size-lg);
  --utrecht-heading-4-margin-block-end: var(--xxllnc-size-md);

  --utrecht-heading-5-font-family: var(--xxllnc-typography-header-font-family);
  --utrecht-heading-5-font-size: var(--xxllnc-font-size-md);
  --utrecht-heading-5-font-weight: var(--xxllnc-typography-font-weight-light);
  --utrecht-heading-5-letter-spacing: var(--xxllnc-letter-spacing-normal);
  --utrecht-heading-5-text-transform: unset;
  --utrecht-heading-5-margin-block-start: var(--xxllnc-size-lg);
  --utrecht-heading-5-margin-block-end: var(--conductino-size-md);

  /* Paragraph */
  --utrecht-paragraph-color: var(--utrecht-document-color) inherit;
  --utrecht-paragraph-font-family: var(
    --xxllnc-typography-sans-serif-font-family
  );
  --utrecht-paragraph-font-size: var(--xxllnc-font-size-md);
  --utrecht-paragraph-font-weight: var(--xxllnc-typography-font-weight-normal);
  --utrecht-paragraph-line-height: 1.5;
  --utrecht-paragraph-margin-block-start: 0;
  --utrecht-paragraph-margin-block-end: 0;

  /* Footer */
  --utrecht-page-footer-color: var(--xxllnc-color-primary);
  --utrecht-page-footer-background-color: var(--xxllnc-color-white-100);
  --utrecht-page-footer-background-image: unset;
  --utrecht-page-footer-padding-block-start: var(--xxllnc-size-2xl);
  --utrecht-page-footer-padding-block-end: var(--xxllnc-size-2xl);
  --utrecht-page-footer-padding-inline-start: var(--xxllnc-size-sm);
  --utrecht-page-footer-padding-inline-end: var(--xxllnc-size-sm);

  /* List */
  --utrecht-ordered-list-font-size: var(--utrecht-document-font-size) inherit;
  --utrecht-ordered-list-padding-inline-start: var(--xxllnc-size-xl);
  --utrecht-ordered-list-margin-block-start: var(--xxllnc-size-sm);
  --utrecht-ordered-list-margin-block-end: var(--xxllnc-size-sm);

  --utrecht-ordered-list-item-margin-block-start: var(--xxllnc-size-2xs);
  --utrecht-ordered-list-item-margin-block-end: var(--xxllnc-size-2xs);
  --utrecht-ordered-list-item-padding-inline-start: 1ch;

  --utrecht-unordered-list-font-size: var(--utrecht-document-font-size);
  --utrecht-unordered-list-margin-block-start: var(--xxllnc-size-md);
  --utrecht-unordered-list-margin-block-end: 0;
  --utrecht-unordered-list-padding-inline-start: 2ch;

  --utrecht-unordered-list-item-margin-block-start: var(--xxllnc-size-xs);
  --utrecht-unordered-list-item-margin-block-end: var(--xxllnc-size-xs);
  --utrecht-unordered-list-item-padding-inline-start: 1ch;

  /* Link */
  --utrecht-link-color: var(--xxllnc-color-primary);
  --utrecht-link-visited-color: var(--xxllnc-color-primary);
  --utrecht-link-icon-size: var(--xxllnc-size-md);
  --utrecht-link-text-decoration: none;
  --utrecht-link-text-decoration-color: unset;
  --utrecht-link-text-decoration-thickness: 0;
  --utrecht-link-text-underline-offset: var(--xxllnc-size-3xs);

  --utrecht-link-hover-color: var(--xxllnc-color-primary-hover);
  /* --utrecht-link-hover-text-decoration: none; */
  /* --utrecht-link-hover-text-decoration-thickness: <size>; */

  /* Blockquote */
  --utrecht-blockquote-content-color: var(--xxllnc-color-black-16);
  --utrecht-blockquote-content-font-size: var(--xxllnc-size-md);
  --utrecht-blockquote-margin-inline-start: var(--xxllnc-size-xl);
  --utrecht-blockquote-margin-inline-end: var(--xxllnc-size-xl);

  /* Code */
  --utrecht-code-color: var(--xxllnc-color-black-16);
  --utrecht-code-background-color: var(--xxllnc-color-lightgrey);
  --utrecht-code-font-family: var(--xxllnc-typography-monospace-font-family);
  --utrecht-code-font-size: inherit;

  --utrecht-code-block-color: var(--xxllnc-color-black-16);
  --utrecht-code-block-background-color: var(--xxllnc-color-lightgrey);
  --utrecht-code-block-font-family: var(
    --xxllnc-typography-monospace-font-family
  );
  --utrecht-code-block-font-size: var(--xxllnc-font-size-md);
  --utrecht-code-block-font-weight: var(--xxllnc-typography-font-weight-normal);
  --utrecht-code-block-line-height: var(--xxllnc-size-lg);
  --utrecht-code-block-margin-block-start: var(--xxllnc-size-md);
  --utrecht-code-block-margin-block-end: var(--xxllnc-size-md);
  --utrecht-code-block-margin-inline-start: 0;
  --utrecht-code-block-margin-inline-end: 0;
  --utrecht-code-block-padding-block-start: var(--xxllnc-size-md);
  --utrecht-code-block-padding-block-end: var(--xxllnc-size-md);
  --utrecht-code-block-padding-inline-start: var(--xxllnc-size-md);
  --utrecht-code-block-padding-inline-end: var(--xxllnc-size-md);

  /* Pseudo Elements */
  --utrecht-unordered-list-marker-color: var(--xxllnc-color-primary);

  /* Table */
  --utrecht-table-border-color: var(--xxllnc-color-lightgrey);
  --utrecht-table-border-width: var(--xxllnc-size-4xs);
  --utrecht-table-font-family: var(--utrecht-document-font-family) inherit;
  --utrecht-table-font-size: var(--utrecht-document-font-size) inherit;
  --utrecht-table-margin-block-start: var(--xxllnc-size-md);
  --utrecht-table-margin-block-end: 0;

  --utrecht-table-header-color: var(--utrecht-document-color) inherit;
  --utrecht-table-header-font-weight: var(--xxllnc-typography-font-weight-bold);
  --utrecht-table-header-text-transform: unset;

  --utrecht-table-header-cell-font-size: var(--utrecht-document-font-size)
    inherit;
  --utrecht-table-header-cell-font-weight: var(--xxllnc-typography-font-weight-bold);
  --utrecht-table-header-cell-text-transform: unset;

  --utrecht-table-row-border-block-end-color: var(--xxllnc-color-lightgrey);
  --utrecht-table-row-border-block-end-width: var(--xxllnc-size-4xs);

  --utrecht-table-cell-padding-block-start: var(--xxllnc-size-md);
  --utrecht-table-cell-padding-block-end: var(--xxllnc-size-md);
  --utrecht-table-cell-padding-inline-start: var(--xxllnc-size-md);
  --utrecht-table-cell-padding-inline-end: var(--xxllnc-size-md);

  /* Alert */
  --utrecht-alert-color: var(--xxllnc-color-alert-info);
  --utrecht-alert-background-color: var(--xxllnc-color-alert-info-background);
  /* --utrecht-alert-border-color: <color>; */
  /* --utrecht-alert-border-width: <length>; */
  --utrecht-alert-padding-block-start: var(--xxllnc-size-lg);
  --utrecht-alert-padding-block-end: var(--xxllnc-size-lg);
  --utrecht-alert-padding-inline-start: var(--xxllnc-size-lg);
  --utrecht-alert-padding-inline-end: var(--xxllnc-size-lg);
  /* --utrecht-alert-margin-block-start: <length>; */
  /* --utrecht-alert-margin-block-end: <length>; */
  /* --utrecht-alert-warning-background-color: <color>; */
  /* --utrecht-alert-warning-color: <color>; */
  /* --utrecht-alert-warning-border-color: <color>; */
  /* --utrecht-alert-warning-border-width: <length>; */
  --utrecht-alert-error-background-color: var(
    --xxllnc-color-alert-error-background
  );
  --utrecht-alert-error-color: var(--xxllnc-color-alert-error);
  /* --utrecht-alert-error-border-color: <color>; */
  /* --utrecht-alert-error-border-width: <color>; */
  /* --utrecht-alert-ok-background-color: <color>; */
  /* --utrecht-alert-ok-color: <color>; */
  /* --utrecht-alert-ok-border-color: <color>; */
  /* --utrecht-alert-ok-border-width: <length>; */
  --utrecht-alert-icon-color: var(--xxllnc-color-alert-info);
  --utrecht-alert-icon-error-color: var(--xxllnc-color-alert-error);
  --utrecht-alert-icon-warning-color: var(--xxllnc-color-alert-warning);
  --utrecht-alert-icon-ok-color: var(--xxllnc-color-alert-success);

  /* Icon */
  --utrecht-alert-icon-gap: var(--xxllnc-size-xs);
  --utrecht-icon-gap: var(--xxllnc-size-xs);

  /* Button */
  --utrecht-button-color: var(--xxllnc-color-grey-90);
  --utrecht-button-background-color: var(--xxllnc-color-black-17);

  --utrecht-button-icon-gap: var(--xxllnc-size-xs);
  /* --utrecht-button-border-color: <color>; */
  --utrecht-button-border-width: 0;
  --utrecht-button-border-radius: var(--xxllnc-size-xs);
  /* --utrecht-button-border-bottom-width: <length>; */

  --utrecht-button-font-family: var(--xxllnc-typography-inter-font-family);
  --utrecht-button-font-size: inherit;
  --utrecht-button-font-weight: inherit;

  /* --utrecht-button-inline-size: <length>; */
  /* --utrecht-button-letter-spacing: <length>; */
  /* --utrecht-button-line-height: <length>; */

  /* --utrecht-button-min-block-size: <length>; */
  /* --utrecht-button-min-inline-size: <length>; */

  --utrecht-button-padding-block-end: var(--xxllnc-size-2xs);
  --utrecht-button-padding-block-start: var(--xxllnc-size-2xs);
  --utrecht-button-padding-inline-end: var(--xxllnc-size-sm);
  --utrecht-button-padding-inline-start: var(--xxllnc-size-sm);

  /* --utrecht-button-text-transform: <length>; */

  /* --utrecht-button-focus-background-color: <color>; */
  /* --utrecht-button-focus-border-color: <color>; */
  /* --utrecht-button-focus-color: <color>; */

  --utrecht-button-hover-background-color: var(--xxllnc-color-black-17-hover);
  --utrecht-button-hover-color: var(--xxllnc-color-grey-90-hover);
  /* --utrecht-button-hover-border-color: unset; */
  /* --utrecht-button-focus-transform-scale: unset; */

  --utrecht-button-secondary-action-background-color: var(
    --xxllnc-color-white-100
  );
  --utrecht-button-secondary-action-border-color: var(--xxllnc-color-black-17);
  --utrecht-button-secondary-action-border-width: 2px;
  --utrecht-button-secondary-action-color: var(--xxllnc-color-black-17);
  --utrecht-button-secondary-action-font-weight: var(
    --xxllnc-typography-font-weight-normal
  );

  /* InputField */
  --utrecht-form-input-background-color: var(--xxllnc-color-white-100-0t);
  --utrecht-form-input-border-width: var(--xxllnc-size-4xs);
  --utrecht-form-input-border-color: var(--xxllnc-color-black-0-22t);
  --utrecht-form-input-border-radius: 6px;
  --utrecht-form-input-color: var(--xxllnc-color-grey-43);
  --utrecht-form-input-font-family: var(
    --xxllnc-typography-sans-serif-font-family
  );
  --utrecht-form-input-font-size: 15px;
  /* --utrecht-form-input-max-inline-size: ; */
  --utrecht-form-input-padding-block-end: var(--xxllnc-size-xs);
  --utrecht-form-input-padding-block-start: var(--xxllnc-size-xs);
  --utrecht-form-input-padding-inline-end: var(--xxllnc-size-sm);
  --utrecht-form-input-padding-inline-start: var(--xxllnc-size-sm);

  /* InputField-TextField */
  --utrecht-textbox-background-color: var(--xxllnc-color-white-100-0t);
  --utrecht-textbox-border-width: var(--xxllnc-size-4xs);
  /* --utrecht-textbox-border-bottom-width: ; */
  --utrecht-textbox-border-color: var(--xxllnc-color-black-0-22t);
  --utrecht-textbox-border-radius: 6px;
  --utrecht-textbox-color: var(--xxllnc-color-grey-43);
  --utrecht-textbox-font-family: var(
    --xxllnc-typography-sans-serif-font-family
  );
  --utrecht-textbox-font-size: 15px;
  /* --utrecht-textbox-max-inline-size: ; */
  --utrecht-textbox-padding-block-end: var(--xxllnc-size-xs);
  --utrecht-textbox-padding-block-start: var(--xxllnc-size-xs);
  --utrecht-textbox-padding-inline-end: var(--xxllnc-size-sm);
  --utrecht-textbox-padding-inline-start: var(--xxllnc-size-sm);

  --utrecht-textbox-placeholder-color: var(--xxllnc-color-grey-43);

  /*
   *
   * CONDUCTION COMPONENTS & DEFAULTS
   *
   */

  /* Input select single */
  --conduction-input-select-padding-block-start: 0;
  --conduction-input-select-padding-block-end: 0;
  --conduction-input-select-border-radius: var(
    --utrecht-form-input-border-radius
  );
  --conduction-input-select-background-color: var(--xxllnce-color-white);
  --conduction-input-select-border: 1px solid var(--xxllnc-color-grey-92);
  --conduction-input-select-border-focus: unset;
  --conduction-input-select-invalid-border-color: var(--xxllnc-color-error);

  /* conduction Card */
  --utrecht-card-background-color: var(--xxllnc-color-black-21);
  --utrecht-card-color: var(--xxllnc-color-white-95);
  --utrecht-card-border-radius: 16px;
  --utrecht-card-padding-block-end: var(--xxllnc-size-md);
  --utrecht-card-padding-block-start: var(--xxllnc-size-md);
  --utrecht-card-padding-inline-end: var(--xxllnc-size-md);
  --utrecht-card-padding-inline-start: var(--xxllnc-size-md);
}
